@charset "UTF-8";

/** Pages. */

.page {
	height: 100%;
	background-color: #ffffff;
}

.subpage {
	position: relative;
	overflow: auto;
	min-height: 100vh;
	background-color: #ffffff;
	padding: 0 0 1.4rem;
}

.subpage .subpage__title {
	margin: 0;
	margin: 1.4rem 2.8rem;
	color: #f8bf00;
	font-weight: 700;
	font-size: 6rem;
}

@media (max-width: 1280px) {
	.subpage {
		padding: 0 0 2rem;
	}

	.subpage .subpage__title {
		font-size: 5rem;
	}
}

@media (max-width: 960px) {
	.subpage {
		padding: 0 0 2rem;
	}

	.subpage .subpage__title {
		position: static;
		margin: 1.4rem;
		color: #f8bf00;
		font-size: 4rem;
	}
}

/** Intro. */

#intro {
	padding: 0;
	min-height: 100vh;
}

#intro .intro__card {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

#intro .intro__card-title {
	color: #f8bf00;
}

#intro .intro__card-body {
	padding: 0 2.8rem 2.8rem;
	font-size: 3rem;
}

@media (max-height: 720px) {
	#intro .intro__card-body {
		font-size: 2rem;
	}
}

@media (max-width: 1280px) {
	#intro .intro__card-title {
		margin-bottom: 2.8rem;
	}

	#intro .intro__card-body {
		padding: 0 2.8rem 2.8rem;
		font-size: 2rem;
	}
}

@media (max-width: 960px) {
	#intro .intro__card {
		position: static;
		display: block;
	}

	#intro .intro__card-title {
		margin-bottom: 2.8rem;
	}

	#intro .intro__card-body {
		padding: 0 1.4rem 1.4rem;
		font-size: 1.5rem;
	}
}

/** Section. */

.section {
	max-width: 720px;
	padding: 0 1.4rem;
	margin: 2.8rem auto;
}

.section .section__title {
	position: relative;
	margin: 2.1rem 0 1.4rem;
	padding: 0 0 0.7rem;
	font-size: 48px;
	font-weight: 700;
	color: #d8cfdc;
	text-align: right;
}

.section .section__heading-1 {
}

.section .section__heading-2 {
	font-size: 0.9rem;
	font-weight: 700;
	text-transform: uppercase;
}

.section .section__heading-3 {
	margin: 0.7rem 0 0.35rem;
	font-size: 0.8rem;
	font-weight: 700;
	text-transform: uppercase;
}

@media (max-width: 1280px) {
	.section .section__title {
		margin: 2.1rem 0 1.4rem;
	}
}

.tile {
	margin: 0.7rem -0.7rem;
	padding: 0.7rem;
}

.tile .tile__title {
	position: relative;
	margin: 0 0 0.7rem;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	font-weight: 700;
}

.tile .tile__description {
}

.tile .tile__description:last-of-type {
	margin-bottom: 1.4rem;
}

.tile .tile__heading-1 {
	margin: 1.4rem 0 0.7rem;
	font-size: 0.8rem;
	font-weight: 700;
	text-transform: uppercase;
}

/** timeline. */

.timeline {
	padding-left: 1.4rem;
}

.timeline .timeline__event {
	position: relative;
}

.timeline .timeline__event::before {
	position: absolute;
	content: '';
	left: -1.4rem;
	top: 0;
	bottom: 0;
	width: 0;
	border-left: 0.1rem dashed #d8cfdc;
	margin-left: -0.05rem;
}

.timeline .timeline__event:last-child::before {
	bottom: 100%;
}

.timeline .timeline__event + .timeline__event {
	margin-top: 2.1rem;
}

.timeline .timeline__event + .timeline__event::before {
	top: -2.1rem;
}

.timeline .timeline__title {
	margin: 0 0 0.7rem;
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
}

.timeline .timeline__title:before {
	position: absolute;
	content: '';
	left: -1.4rem;
	top: 0.7rem;
	width: 0.7rem;
	height: 0.7rem;
	margin-left: -1.05rem;
	margin-top: -1.05rem;
	background-color: #f8bf00;
	border-radius: 50%;
	border: 0.7rem solid #fff;
	box-sizing: content-box;
}

.timeline .timeline__job {
	margin: 0.7rem 0 0;
	font-size: 0.9rem;
	font-weight: 700;
	text-transform: uppercase;
}

.timeline .timeline__job:last-child {
	margin-bottom: 0.35rem;
}

.timeline .timeline__job + .timeline__job {
	margin-top: 0;
	font-size: 0.8rem;
}

.timeline .timeline__faculty {
	margin: 0.7rem 0 0;
	font-size: 0.9rem;
	font-weight: 700;
	text-transform: uppercase;
}

.timeline .timeline__school {
	font-size: 0.8rem;
	font-weight: 700;
	text-transform: uppercase;
}

.timeline .timeline__description {
	margin: 0.7rem 0;
}

.timeline .timeline__technologies {
	margin: 0.7rem -0.175rem 0;
}

.contacts {
	margin: 1.4rem 0;
}

.contacts .contacts__contact-type {
	margin: 0.7rem 0 0.35rem;
	font-size: 0.8rem;
	font-weight: 700;
	text-transform: uppercase;
}

.contacts .contacts__contact {
	margin: 0;
}

.contacts .contacts__contact + .contacts__contact-type {
	margin-top: 2.8rem;
}

.project {
	margin: 0.7rem -0.7rem;
	padding: 0.7rem;
}

.project .project__title {
	margin: 0 0 0.7rem;
	font-size: 0.9rem;
	font-weight: 700;
	text-transform: uppercase;
}

.project .project__description {
}

.project .project__description:last-of-type {
}

.project .project__heading-1 {
}

.project .project__chips {
	margin: 0.525rem -0.175rem;
}

.project .project__link-type {
	margin: 0.7rem 0 0.35rem;
	font-size: 0.8rem;
	font-weight: 700;
	text-transform: uppercase;
}

.project .project__link {
	margin: 0;
}

.project .project__link + .project__link-type {
	margin-top: 1.4rem;
}
