/**
 * Page
 */

html
{
	color: style(color);
	background-color: style(background-color);

	font-size: px(style(font-size));
	font-family: style(font-family);
}

body
{
	box-sizing: border-box;
	position: relative;	
	z-index: 0;
	width: 100%;
	min-height: 100%;
	padding: 0 b(1);
	
	@include font-size(style(font-size));
}

@include json($__objects);