/**
 * Typography
 */

/** body copy */

p
{
	margin: 0;	

	font-feature-settings: 'kern', 'liga';
	hyphens: auto;
	hyphenate-limit-lines: 3;
	hyphenate-limit-chars: 4 2 2;
	hyphenate-limit-zone: 2em;
}

::selection
{
	color: style(selection color);
	background: style(selection background-color);
	text-shadow: none;
}


/** links */

a
{
	transition: style(link default transition);

	color: style(link default color);
	background-color: style(link default background-color);

	@if (style(link default underline-width) > 0)
	{
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, style(link default underline-color) 50%);
		background-position: 0 style(link default underline-position);
		background-repeat: repeat-x;
		background-size: style(link default underline-width) * 2 style(link default underline-width) * 2;
	}
	
	text-decoration: none;
	font-weight: style(link default font-weight);	
	
	&:visited
	{
		color: style(link visited color);
		background-color: style(link visited background-color);

		@if (style(link default underline-width) > 0)
		{
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, style(link visited underline-color) 50%);
		}
	}
	
	&:focus
	{
		color: style(link focus color);
		background-color: style(link focus background-color);

		@if (style(link default underline-width) > 0)
		{
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, style(link focus underline-color) 50%);
		}

		outline: style(link, focus, outline);
	}
	
	&:hover, &:active
	{
		color: style(link hover color);
		background-color: style(link hover background-color);

		@if (style(link default underline-width) > 0)
		{
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, style(link hover underline-color) 50%);
		}
	}
}


/** headings */

%ash-heading
{
	margin: 0;
	padding: 0;
	
	color: style(heading, color);

	font-family: style(heading, font-family);
	font-feature-settings: 'kern', 'liga';
	hyphens: none;

	a
	{
		transition: style(heading-link, default, transition);

		color: style(heading-link, default, color);
		background-color: style(heading-link, default, background-color);

		@if (style(heading-link default underline-width) > 0)
		{
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, style(heading-link default underline-color) 50%);
			background-position: 0 style(heading-link default underline-position);
			background-repeat: repeat-x;
			background-size: style(heading-link default underline-width) * 2 style(heading-link default underline-width) * 2;
		} @else
		{
			background-image: none;
		}

		font-weight: style(heading-link, default, font-weight);

		&:visited
		{
			color: style(heading-link, visited, color);
			background-color: style(heading-link, visited, background-color);
			
			@if (style(heading-link default underline-width) > 0)
			{
				background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, style(heading-link visited underline-color) 50%);
			} @else
			{
				background-image: none;
			}
		}

		&:focus
		{
			color: style(heading-link, focus, color);
			background-color: style(heading-link, focus, background-color);
			
			@if (style(heading-link default underline-width) > 0)
			{
				background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, style(heading-link focus underline-color) 50%);
			} @else
			{
				background-image: none;
			}
			
			outline: style(heading-link, focus, outline);
		}

		&:hover, &:active
		{
			color: style(heading-link, hover, color);
			background-color: style(heading-link, hover, background-color);
			
			@if (style(heading-link default underline-width) > 0)
			{
				background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, style(heading-link hover underline-color) 50%);
			} @else
			{
				background-image: none;
			}
		}
	}	
}


h1, h2, h3, h4, h5, h6
{
	/* @extend .ash-heading--story-level-1; */
	@extend %ash-heading;
}


//
// headings
//


.ash-heading
{
	&--story
	{
		&-title
		{
			@extend %ash-heading;

			margin: b(2) b(1);
			padding-top: 0;

			@include font-size(style(heading, story-title, font-size));
			font-weight: style(heading, story-title, font-weight);
			text-align: center;

			@include rule-above(none);

			b
			{
				display: block;
				margin-top: b(1);

				@include font-size(size(4));
				text-transform: uppercase;
			}

			.author
			{
				display: block;
				margin-top: b(0.5);

				@include font-size(size(8));
				font-weight: 600;
			}
		}

		&-level-1
		{
			@extend %ash-heading;

			margin: b(4) b(1) b(2);
			padding-top: b(2);

			@include font-size(style(heading, story-level-1, font-size));
			font-weight: style(heading, story-level-1, font-weight);
			text-align: center;

			@include rule-above(rem(2) solid color(secondary-1, base), 4);

			b
			{
				display: block;
				margin-top: b(0.5);

				@include font-size(size(4));
				text-transform: uppercase;
			}
		}

		&-level-2
		{
			@extend %ash-heading;

			margin: b(2) b(1) b(0.5);
			padding: 0;

			@include font-size(style(heading, story-level-2, font-size));
			font-weight: style(heading, story-level-2, font-weight);	
			text-align: left;

			@include rule-above(none);
		}

		&-level-3
		{
			@extend %ash-heading;

			margin: b(2) b(1) b(0.5);
			padding: 0;

			@include font-size(style(heading, story-level-3, font-size));
			font-weight: style(heading, story-level-3, font-weight);
			text-align: left;
			text-transform: uppercase;
			letter-spacing: 0.05em;	

			@include rule-above(none);
		}

		&-level-4
		{
			@extend %ash-heading;

			margin: b(2) b(1) b(0.5);
			padding: 0;

			@include font-size(style(heading, story-level-4, font-size));
			font-weight: style(heading, story-level-4, font-weight);
			text-align: left;
			text-transform: uppercase;
			letter-spacing: 0.05em;

			@include rule-above(none);
		}
	}

	&--section
	{
		&-title
		{
			@extend %ash-heading;
			margin: b(2) b(1);
			padding: 0;

			@include font-size(style(heading, section-title, font-size));
			font-weight: style(heading, section-title, font-weight);
			text-align: center;

			@include rule-above(none);

			b
			{
				display: block;
				margin-top: b(0.5);

				@include font-size(size(4));
				text-transform: uppercase;
			}
		}

		&-level-1
		{
			@extend %ash-heading;

			margin: b(2) b(1) b(0.5);
			padding: b(1) 0 0;

			@include font-size(style(heading, section-level-1, font-size));
			font-weight: style(heading, section-level-1, font-weight);
			text-align: left;
			text-transform: uppercase;
			letter-spacing: 0.05em;

			@include rule-above(rem(2) solid color(secondary-1, base), 4)
			{
				left: 0;
				margin-left: 0;
			}
		}

		&-level-2
		{
			@extend %ash-heading;

			margin: 0 b(1) b(0.5);
			padding: 0;

			@include font-size(style(heading, section-level-2, font-size));
			font-weight: style(heading, section-level-2, font-weight);
			text-align: left;
			text-transform: uppercase;
			letter-spacing: 0.05em;

			@include rule-above(none);
		}

		&-level-3
		{
			@extend %ash-heading;

			margin: 0 b(1) b(0.5);
			padding: 0;

			@include font-size(style(heading, section-level-3, font-size));
			font-weight: style(heading, section-level-3, font-weight);
			text-align: left;
			text-transform: uppercase;
			letter-spacing: 0.05em;

			@include rule-above(none);
		}

		&-level-4
		{
			@extend %ash-heading;

			margin: 0 b(1) b(0.5);
			padding: 0;

			@include font-size(style(heading, section-level-4, font-size));
			font-weight: style(heading, section-level-4, font-weight);
			text-align: left;
			text-transform: uppercase;
			letter-spacing: 0.05em;

			@include rule-above(none);
		}
	}
}


/** lists */

ul
{
	margin: 0;
}

ol
{
	margin: 0;
}

.ash-list
{
	margin: b(0.5) b(1);
	padding: 0 0 0 b(1.5);

	list-style: none;

	li
	{
		position: relative;

		@include before(right 100% top 0, absolute, '\25CA')
		{
			width: b(1);
			height: b(1);

			color: color(secondary-1 base);

			font-weight: 600;
			text-align: center;
			counter-increment: ash-list;
		}

		ul
		{
			margin: 0;
			padding: 0 0 0 b(2);

			list-style: none;

			li
			{

			}
		}
	}

	&--ordered
	{
		margin: b(0.5) b(1);
		padding: 0 0 0 b(1.5);

		list-style: decimal;

		ol
		{
			margin: 0;
			padding: 0 0 0 b(1.5);

			list-style: decimal;

			li
			{

			}
		}
	}
}


/** decorations */

hr 
{
	display: block;
	height: 0;
	border: 0;
	/* border-top: 1px solid style(color); */
	margin: 1em 0;
	padding: 0;
}


/**
 * images
 */

img 
{
	vertical-align: middle;
}

figure
{
	margin: 0;

	img
	{
		width: 100%;
		height: auto;
	}
}